$default-font: "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
$header-font: 'Dense';

$default-color: #555;
$default-color-link: #00B7FF;
$secondary-color: #BED871;
$top-bar-color: #6ACECC;
$header-color: #333333;
