extends layout

block content
  .row
    .hero.large-12
      h2 Page Could Not Be Found      
      img(src="/images/people.gif", alt="Page Not Found")
      p "For the Son of Man came to seek and to save the lost." - Luke 19:10