extends layout

block content
  .row
    .hero.columns.large-12
      a(href="/ministries")
        img(src="/images/header-ministries.png", alt="Ministries")
      hr

  .row
    .side-nav.columns.large-2
      ul.nav-secondary
        li
          a(href="/ministries/children") Children
        li
          a(href="/ministries/youth") Youth
        li
          a(href="/ministries/adults") Adults
        li.selection
          a(href="/ministries/church") Church-Wide
          ul.nav-sub
            li
              a(href="#ladies") Ladies Fellowship
            li
              a(href="#men") Men's Fellowship
            li
              a(href="#morning-tea") Morning Tea
            li
              a(href="#library") Library
            li
              a(href="#welcome") Welcoming/Ushering

    .content.columns.large-9
      .row
        .content.columns.large-12
          h2 Ladies' Fellowship
            a.anchor(name="ladies")
      .row
        .content.columns.large-4
          h3 When
          p Three times a year, usually on a Saturday
          h3 Where
          p Epping Gospel Chapel
          h3 Time
          p 7.30pm
        .content.columns.large-8
          p ECC Ladies' Fellowship is a time for women of all ages to meet together. Friends are most welcome. Through our meetings we want to encourage women to consider faith in Jesus, and the way He teaches us to live out that faith by addressing topics which are relevant to women at varying life stages.
      hr
      
      .row
        .content.columns.large-12
          h2 Men's Fellowship
            a.anchor(name="men")
      .row
        .content.columns.large-4
          h3 When
          p Three times a year, usually on a Saturday
          h3 Where
          p Epping Gospel Chapel
          h3 Time
          p 7.30pm
        .content.columns.large-8
          p ECC Men’s Fellowship (EMF) aims to promote growth in our relationship with Christ and to increase our knowledge of God.  We organise talks by highly respected and prominent church leaders on topics relevant to our everyday lives and suitable for men of all ages.  The Men’s Fellowship is a great way to get to know your fellow Christian brothers and to participate in lively discussions on spiritual matters.    
       hr
           
      .row
        .content.columns.large-12
          h2 Morning Tea
            a.anchor(name="morning-tea")
      .row
        .content.columns.large-4
        .content.columns.large-8
          p At ECC, we have morning tea after the service.  Morning tea is a great opportunity for encouraging one another and getting to know new people outside the formal service.  
          p For this ministry to continue each week, everyone who is a part of our church community is encouraged to serve on a rostered team. This involves setting up at 9.00am, washing up after morning tea, and putting things away.  If you are interested, we would be delighted for you to join us as we ‘serve one another in love’ (Galatians 5:13b).
      hr
      
      .row
        .content.columns.large-12
          h2 Library
            a.anchor(name="library")
      .row
        .content.columns.large-4
        .content.columns.large-8
          p Through our ECC library, we hope to make good Christian resources available for borrowing to encourage our congregation to grow in their faith and knowledge of God.  Books are displayed on the first Sunday of each month and need to be reviewed, shelved and catalogued. If you are interested and would like to find out how you can be involved, please let us know.
      hr
      
      .row
        .content.columns.large-12
          h2 Welcoming/Ushering
            a.anchor(name="welcoming")
      .row
        .content.columns.large-4
        .content.columns.large-8      
          p The Welcoming/Ushering team at ECC meet and greet members of the congregation as they arrive for the worship service on Sunday morning and hand out bibles and church bulletins. In particular, they look out for newcomers and make them feel welcome at our church.  Part of their duties include arranging the chairs in the chapel in preparation of the worship service, passing round the offertory bags during the collection time and to assist in the distribution of the bread and wine during the holy communion. All members of the congregation are welcome to join this ministry.
