extends layout

block content
  .row
    .hero.large-12
      img(src="/images/header-contact.png", alt="Contact Us")

    .columns.large-6
      h2 Send Us An Email

      if err
        .alert-box.warning=err.message
      

      form(id="contactForm", method="POST" action="/contact")
        label Name
        input(type="text", name="name", placeholder="Enter your name", value=data.name, required)

        label Email Address
        input(type="email", name="from", placeholder="Enter your email", value=data.from, required)

        label Message
        textarea(name="message", placeholder="Enter your message", required)=data.message

        div(class="g-recaptcha", data-sitekey="6LcWwm4UAAAAAJqSoE7mtryqpxUjG6fAzTQpNaTI", data-callback="recaptchaCallback")
        br

        input(id="submit", type="submit", value="Send", disabled).button

    .columns.large-6
      .map-info        
        a(target="_blank", href="https://www.google.com.au/maps/place/Centre+For+Ministry+-+The+Uniting+Church+in+Australia/@-33.7918331,151.0165805,15z/data=!4m5!3m4!1s0x0:0x6edbaf15879e0c07!8m2!3d-33.7918331!4d151.0165805") 
          img(src="images/map.png")
        p 16 Masons Dr, North Parramatta 2151 (Centre For Ministry)
        a(target="_blank", href="https://www.google.com.au/maps/place/Centre+For+Ministry+-+The+Uniting+Church+in+Australia/@-33.7918331,151.0165805,15z/data=!4m5!3m4!1s0x0:0x6edbaf15879e0c07!8m2!3d-33.7918331!4d151.0165805")  Click for directions on Google Maps

block scripts
  script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js")
  script
    $("form").validate();
  script.
    function recaptchaCallback() {
      $('#submit').removeAttr('disabled');
      $('#submit').removeClass('disabledButton');
    };    