extends layout

block content
  .row
    .hero.columns.large-12
      a(href="/events")
        img(src="/images/header-events.png", alt="Events", height="121px", width="489px")
      hr

  .row
    iframe(src="https://calendar.google.com/calendar/embed?src=8gica5rsdqrin9ljt7pa2b202s%40group.calendar.google.com&ctz=Australia%2FSydney", style="border-width:0", width="1000", height="600", frameborder="0",   scrolling="no")