extends layout

block content
  .row
    .hero.columns.large-12
      img(src="/images/hero-1.png", alt="Welcome to Evangelical Chinese Church")
      hr

  .row-color-heavy
    .row
      .columns.large-4
        a(href='sunday')
          .mini-feature
            h2 Sunday Service
            p Our Sunday Service is <br/> on at 9:30am every week

      .columns.large-4
        a(href="/about")
          .mini-feature
            h2 Who We Are
            p Find out what we believe,<br/>  our mission and our values

      .columns.large-4
        a(href='/contact')
          .mini-feature
            h2 Where Are We?
            p 16 Masons Drive <br/> North Parramatta, NSW 2151

  .row-color
    .row
      .feature.columns.large-12         
        h2 Welcome from the Pastor
        p Welcome to the website of Evangelical Chinese Church! This site provides some information about our church which may assist if you are new to Christianity or are looking for a church. However, we would love you to visit us in person as we gather as a church on Sundays, as this is the best way for you to get to know us!
        p We are a diverse community made up of young families, students, young workers and seniors. 
        p We seek to be a church community that demonstrates Jesus’ love and shares the good news of Jesus, so that those who do not know Him might have a personal relationship with God and be part of His church family.
        p Whether you want to find out more about Jesus or are already a Christian, we would love for you to join us at our Sunday service.
        p In Christ, <br /> Pastor Alan Chong