extends layout

block content
  .hero.columns.large-12
    img(src="/images/header-jesus.png", alt="Who is Jesus?")
    hr

  .row
    .columns.large-10.large-offset-2
    
        h3 Jesus is the true, one and only, living God
        p He is all powerful, the mighty ruler of all creation and the victorious conqueror of sin, evil and death. This is clearly documented in the Bible, which is the revealed word of God.
        p With His supreme authority and perfect wisdom, He is at work in all situations. In His goodness, He guides us, refines us, and transforms us as we walk with Him in this fallen world.
        p Because He is God in the flesh, He understands humanity and its weaknesses. In His generosity He gives us forgiveness and grace, and empowers us with His Holy Spirit.  

        h3 Jesus loves us and is our best friend
        p He cares for us deeply and He loves us with a genuine love that shines purer and brighter than any form of love we have ever received or given.
        p Because He cares for us He wants us to live our lives so that they count. And because He loves us, He personally came to show us the way so that we have a model by which to live, that we might glorify God and find true fulfilment and contentment.
        p As our best friend, He is here for us at every moment, to listen to us, comfort us and fight for us. 

        h3 Jesus is our lifesaver
        p Though He is our almighty Creator and God, in His humility He came down from Heaven to live among us as a man. He did this for our sake, to save us from a world that we have broken and to fix the mistakes that we have made. 
        p In His great mercy and love, He forgives us when we sin by turning away from Him, and although we don’t deserve it, He willingly took our punishment and sacrificed His life so that we might live.
        p Only through Jesus is our relationship with God restored, and only through Him do we have forgiveness and a way to everlasting peace and joy in Heaven. 

        p We, at ECC, would love for you to know Jesus as your personal Lord, Saviour, and best friend. The only way to know Him better is to read and understand the Bible, which is His story revealed to us.
        
        h3 More Information
        p To find out more about Christianity, please <a href="/contact">contact us</a> or have a look at this <a href="http://www.matthiasmedia.com.au/2wtl/">presentation</a> or the website: <a href="http://christianity.net.au">http://christianity.net.au</a> which looks at common questions about Christianity.
