extends layout

block content
  .row
    .hero.columns.large-12
      img(src="/images/header-ministries.png", alt="Ministries")
      hr
  
  .row
    .columns.large-12
      p ECC caters for people of all ages from children, youth to adults. There are many different groups to join that can help you learn more about Jesus and how to serve and follow Him.
  .row            
    .large-3.columns
      a(href="ministries/children") 
        .mini-feature-icon
          h2
            img(src="/images/ministries-children.png")

    .large-3.columns
      .mini-feature-icon
        h2
          a(href="ministries/youth") 
            img(src="/images/ministries-youth.png")
  
    .large-3.columns
      .mini-feature-icon
        h2
          a(href="ministries/adults")  
            img(src="/images/ministries-adults.png")

    .large-3.columns
      .mini-feature-icon
        h2
          a(href="ministries/church") 
            img(src="/images/ministries-church.png")