extends ../layout

block content
    .row
      .hero.columns.large-12
        img(src="/images/people-feature.png", alt="About Us")
        hr
        
      .row.columns.large-12
        h2 
          a(name="faq") FAQ

        h3 How many Sunday services are available at ECC?
        p We offer an English speaking service at 9.30am.

        h3 Is there a Chinese service?
        p There is one English service at 9.30am. However, many of our congregation is fluent in Mandarin and Cantonese. 

        h3 Where do I park?
        p There is plenty of free parking in the Centre for Ministry car park (where our church meets) or on Masons Drive. <link map of where to park>

        h3 Where do I go when I get there?
        p We meet in the Centre for Ministry chapel. As you enter the drive-way, we meet in the building on the left. Walk down a covered path, to the left of the drop off bay. Head through the double doors and down to the chapel.

        h3 What should I wear?
        p As Christians we don’t care what we people wear, we love everyone for the person God has made them. Wear what you would normally wear. 

        h3 What denomination are you part of?
        p We are an independent church and not affiliated with any denomination. Many of our church members come from churches of different backgrounds (eg. Church of Christ, Brethren, Anglican, Baptist, Presbyterian) 

        h3 I’m not a Christian. I just want to find out more about Christianity? Am I still welcome?
        p Of course. ECC endeavours to provide help and access of information to all enquiries about Christianity.

        h3 What should I expect when I arrive?
        p Upon arriving you should be greeted by our lovely team of ushers. They will provide you a bible if you don’t have one, and a bulletin. The service normally runs for about 1 hour and is filled with prayer, singing and a message from the bible.


        h3 Are there child minding services? Who is taking care of my child?
        p During the sermon portion of the service, we offer a children’s program called Way2Go. This is catered for children from preschool to year 6. We take the safety of your children very seriously and all Way2Go teachers have working with children checks. LINK: WAY2GO portion / contacts

        h3 I am interesting in finding out more more about Christianity.
        p That’s great! Talk to our ushers? and they’ll be happy to chat more or here are some web links...

        h3 Why is it called Evangelical Chinese Church? Are all nationalities welcome?
        p (Etymology of our name?) ECC is not exclusive to Chinese Christians. We welcome people of all nationalities to come to the Lord and to progress in their spiritual growth and relationship with God.
     
        h3 Can I just come for the Sunday service to worship and not be involved in any of the ministries?
        p Certainly, we leave the calling to serve to God. All our various ministries are entirely voluntary.
     
        h3 How do you cater for individual spiritual needs?
        p There is only one spiritual need for Christians. That is to form a vibrant relationship with the Lord. We have a variety of ministries to help with individual needs.  Please refer to Section 5: Join our Community.
