extends ../layout

block content
  .row
    .hero.columns.large-12
      img(src="/images/hero.gif", alt="Welcome to Evangelical Chinese Church", height="374px", width="750px")
      hr

  .row-color-heavy
    .row
      .columns.large-4
        a(href='sunday')
          .mini-feature
            h2 Sunday Service
            p Our Sunday Service is <br/> on at 9:30am every week

      .columns.large-4
        a(href="/about")
          .mini-feature
            h2 Who We Are
            p Find out what we believe,<br/>  our mission and our values

      .columns.large-4
        a(href='/contact')
          .mini-feature
            h2 Where Are We?
            p Currently meeting online at <a style='color:white' href="https://zoom.us/j/3161461334">Zoom<a> for the near future due to COVID-19

  .row-color
    .row
      .feature.columns.large-12         
        h2 Welcome from the Pastor
        p Welcome to the website of Evangelical Chinese Church!
        p This site provides some information about our church which may assist you, if you are new to Christianity or are looking for a church. However, we would love you to visit us in person as this is the best way for us to get to know each other.
        p We are an international community of all age groups. There are many young families, students, young and older working adults and seniors.
        p We seek to be a church community that demonstrates Jesus’ love and shares the Good News of Jesus, so that those who do not know Him might have a personal relationship with Him and be part of His church family.
        p We warmly invite you to join us at our Sunday service.
        p In Christ, <br /> Pastor Alan Chong