extends ../layout

block content
    .row
      .hero.columns.large-12
        img(src="/images/header-sunday-service.png", alt="Ministries")
        hr

      .columns.large-6
        h3 When
        p Every Sunday at 9:30am
        h3 Where
        p 16 Masons Dr, North Parramatta 2151 (Centre For Ministry)

        .map-info
            a(target="_blank", href="https://www.google.com/maps/place/16+Masons+Dr,+North+Parramatta+NSW+2151,+Australia/@-33.791608,151.01731,17z/data=!3m1!4b1!4m2!3m1!1s0x6b12a3a487e182fb:0x58b25665f3433f9e") 
                img(src="images/map.png")
                a(target="_blank", href="https://www.google.com/maps/place/16+Masons+Dr,+North+Parramatta+NSW+2151,+Australia/@-33.791608,151.01731,17z/data=!3m1!4b1!4m2!3m1!1s0x6b12a3a487e182fb:0x58b25665f3433f9e")  Click for directions on Google Maps
                
      .content.columns.large-6
        h3.question How many Sunday services are available at ECC?
        p We offer an English speaking service at 9.30am.

        h3.question Is there a Chinese service?
        p There is one English service, however, many of our congregation is fluent in Mandarin and Cantonese.

        h3.question Where do I park?
        p There is plenty of free parking in the Centre for Ministry car park (where our church meets) or on Masons Drive.

        h3.question Where do I go when I get there?
        p We meet in the Centre for Ministry chapel. As you enter the drive-way, we meet in the building on the left. Walk down a covered path, to the left of the drop off bay. Head through the double doors and down to the chapel.

        h3.question What should I wear?
        p As Christians we don't care what people wear, we love everyone for the person God has made them to be. Wear what you would normally wear.

        h3.question What will I expect when I arrive?
        p Upon arriving you should be greeted by our lovely team of ushers. They will provide you a bible if you don’t have one, and a bulletin. The service normally runs for about 1 hour and is filled with prayer, singing and a message from the bible.

        h3.question Are there child minding services? Who is taking care of my child?
        p During the sermon portion of the service, we offer a children’s program called <a href="/ministries/children">Way2Go</a>. This is catered for children from preschool to year 6. We take the safety of your children very seriously and all Way2Go teachers have working with children checks.
