extends ../../layout

block content
  .row
    .hero.columns.large-12
      a(href="/ministries")
        img(src="/images/header-ministries.png", alt="Ministries")
    hr

  .row
    .side-nav.columns.large-2
      ul.nav-secondary
        li
          a(href="/ministries/children") Children
        li.selection
          a(href="/ministries/youth") Youth
          ul.nav-sub
            li
              a(href="#wacd") Youth Group
            li
              a(href="#sunday-school") Sunday School
            li
              a(href="#arc") University     
        li
          a(href="/ministries/adults") Adults
        li
          a(href="/ministries/church") Church-Wide
    
    .content.columns.large-9
      .row
        .content.columns.large-12
          h2 WACD (Youth Group)
            a.anchor(name="wacd")
      .row
        .content.columns.large-4
          h3 When
          p First, third and fifth Friday <br/>of every month
          h3 Where
          p Epping Gospel Chapel <br/> Cnr Carlingford Rd and Duntroon Avenue
          h3 Time
          p 7:30pm - 10:30pm
        .content.columns.large-8
          p <em> "Whoever claims to live in him must walk as Jesus did." <br/> (1 John 2:6)</em>
          p Walk As Christ Does and aims to help, guide and equip our youth, mainly high-schoolers, to live for God’s glory, and spread the good news of the gospel where they can. Most of us have been there, and we all know that high school can be a tough time. How do we deal with it? How can I live as a child of God? These questions will be answered when you come to WACD.  Come check us out!
          .columns.large-6.small-6
            img(src="/images/photos/wacd-logo.png", alt="WACD logo")
          .columns.large-6.small-6
            img(src="/images/photos/wacd.jpg", alt="reading the bible")
     
      hr

      .row
        .content.columns.large-12      
          h2 Sunday School (High School) 
            a.anchor(name="sunday-school")
      .row
        .content.columns.large-4
          h3 When
          p Sundays, after the church service
          h3 Where
          p  Church, Room G6
          h3 Time
          p 11.15am - 12.00pm

        .content.columns.large-8
          p Sunday School is a time for high schoolers to study the Bible after the main church service in a small group setting. We enjoy studying various books of the Bible and covering topical issues targeted at the students’ stage of life. We aim to equip high schoolers with the foundation of God’s Word and to grow in Christian maturity together.  We warmly welcome newcomers!      
      hr

      .row
        .content.columns.large-12      
          h2 ARC - Always Relying On Christ (University) 
            a.anchor(name="arc")
      .row
        .content.columns.large-4
          h3 When
          p Every second Sunday
          h3 Where
          p Baulkham Hills
          h3 Time
          p 12pm - 3pm    

        .content.columns.large-8
          p <em> "Trust in the Lord with all your heart and lean not on your understanding but in all you ways acknowledge him"<br/> (Proverbs 3:5-6).</em>
          p ARC is a bible study group for university and tertiary students, typically those aged from 18 - 25. ARC aims to encourage and support each person through this stage of life, keeping one another accountable and strengthening our relationship with God through prayer and studying the Bible.
          .columns.large-6.small-6
            img(src="/images/photos/arc.jpg", alt="ARC logo")
          .columns.large-6.small-6
            img(src="/images/photos/bible.jpg", alt="people at ARC")
      hr
